{% extends "master.html" %}

{% block CSS %}
    <link href="../static/css/cover.css" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Sparta Global | Home</title>
{% endblock %}

{% block content %}

<body class="text-center" data-gr-c-s-loaded="True">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead">
    <div class="inner">
        <img class="masthead-brand" src="../static/images/Sparta-global-logo-white.svg" alt="" width="200" height="200">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link text-white" href="/">Home</a>
        <a class="nav-link text-info disabled" href="">Contact</a>
        <a class="nav-link text-danger" href="">Log Out</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
      <h1 class="cover-heading font-weight-bold"><span style="color: #e38412"> ITJobsWatch </span> <span style="color: #37c4c4"> Scraper</span> </h1>
      <p class="lead font-weight-normal" >
        <span class="font-weight-bold" style="color: #ffde56">You have Generated 30 of the Top Jobs in Tech!</span></p>
  </main>

    <!-- Dynamic Data Generator -->

<!--<div class="container">-->
<!--      <div class="card-deck mb-2 text-center">-->
<!--        <div class="card mb-4 box-shadow">-->
<!--          <div class="card-header" style="background-color: #e33661;">-->
<!--            <h5 class="my-0 font-weight-normal">Card {{ card_number }}</h5>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h3 class="card-title" style="color: #333333">Developer </h3>-->
<!--              <p class="text-uppercase" style="color: #52ca11"> Up (places) </p>-->
<!--              <p class="text-uppercase" style="color: crimson"> Down (places)</p>-->
<!--            <ul class="list-group mt-3 mb-4" style="color: #373535;">-->
<!--              <li><span style="color: #e33661; font-weight: bold">Pay:</span> {{ pay }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">Salary Change:</span> {{ sal_change }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">All-time Ads:</span> {{ all_time_ads }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">Live Ads:</span> {{ live_ads }}</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card mb-4 box-shadow">-->
<!--          <div class="card-header" style="background-color: #e33661;">-->
<!--            <h5 class="my-0 font-weight-normal">Card {{ card_number }}</h5>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h3 class="card-title" style="color: #333333">Developer </h3>-->
<!--              <p class="text-uppercase" style="color: #52ca11"> Up (places) </p>-->
<!--              <p class="text-uppercase" style="color: crimson"> Down (places)</p>-->
<!--            <ul class="list-group mt-3 mb-4" style="color: #373535;">-->
<!--              <li><span style="color: #e33661; font-weight: bold">Pay:</span> {{ pay }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">Salary Change:</span> {{ sal_change }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">All-time Ads:</span> {{ all_time_ads }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">Live Ads:</span> {{ live_ads }}</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card mb-4 box-shadow">-->
<!--          <div class="card-header" style="background-color: #e33661;">-->
<!--            <h5 class="my-0 font-weight-normal">Card {{ card_number }}</h5>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h3 class="card-title" style="color: #333333">Developer </h3>-->
<!--              <p class="text-uppercase" style="color: #52ca11"> Up (places) </p>-->
<!--              <p class="text-uppercase" style="color: crimson"> Down (places)</p>-->
<!--            <ul class="list-group mt-3 mb-4" style="color: #373535;">-->
<!--              <li><span style="color: #e33661; font-weight: bold">Pay:</span> {{ pay }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">Salary Change:</span> {{ sal_change }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">All-time Ads:</span> {{ all_time_ads }}</li>-->
<!--                <li><span style="color: #e33661; font-weight: bold">Live Ads:</span> {{ live_ads }}</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->


{% for job in jobs %}
<div class="container">
  <div class="card">
    <div class="card-body bg-info">
      <p>
        {{ job.role }} <bold> | </bold> {{ job.rank }} {{ job.rank_move }} {{ job.median_salary }} {{ job.hist_ads }} {{ job.live_ads }}
      </p>
    </div>
  </div>
  <br>
</div>
{% endfor %}



  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p> Template by <a href="https://twitter.com/mdo">@mdo</a></p>
    </div>
  </footer>
</div>

{% endblock %}

