<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spartan Values</title>
</head>
<body>
<div class="row">
    <div class="column">
        <h1>Values to be a true Spartan!</h1>
        <img class="masthead-brand" src="../static/images/spartan.PNG" style="float: right;" alt="" width="600" height="500">
    </div>
  <div class="column">
    <h2>Determination</h2>
    <p> To be determined is to complete every task to the best of your ability. <br> You are well motivated and push through obstabcles. Positivity is key! </p>
    <h2>Studious</h2>
    <p> To be studious is to never give up in the pursuit of knowledge and continual learning! <br> You should always ask questions and reflect on our strengths and weaknesses to develop continually.</p>
    <h2>Imaginative</h2>
    <p> To be imaginative is always be thinking of new solutions and always be improving your work! <br> You should be continually open minded and make sure to share your ideas with the world! </p>
    <h2>Analytic</h2>
    <p> To be Analytic is to be an effective problem solver and analyse all information. <br> You should make use of any information you learn and be an effective implementer of new concepts!</p>
    </div>
</div>
</body>
</html>