<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Spartan Values</title>
<style>
.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  min-height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
<img class="masthead-brand" src="../static/images/spartan.PNG" width="400" height="300" style="background-color:white;">
<div class="parallax"></div>
<div style="background-color:red;font-size:36px">
Values to be a true Spartan!
</div>
<div class="parallax"></div>
<div style="background-color:red;font-size:36px">
Determination
</div>
<div style="background-color:red;font-size:24px">
To be determined is to complete every task to the best of your ability. <br> You are well motivated and push through obstabcles. Positivity is key!
</div>
<div class="parallax"></div>
<div style="background-color:red;font-size:36px">
Studious
</div>
<div style="background-color:red;font-size:24px">
To be studious is to never give up in the pursuit of knowledge and continual learning! <br> You should always ask questions and reflect on our strengths and weaknesses to develop continually.
</div>
<div class="parallax"></div>
<div style="background-color:red;font-size:36px">
Imaginative
</div>
<div style="background-color:red;font-size:24px">
To be imaginative is always be thinking of new solutions and always be improving your work! <br> You should be continually open minded and make sure to share your ideas with the world
</div>
<div class="parallax"></div>
<div style="background-color:red;font-size:36px">
Analytic
</div>
<div style="background-color:red;font-size:24px">
To be Analytic is to be an effective problem solver and analyse all information. <br> You should make use of any information you learn and be an effective implementer of new concepts!
</div>
</body>
</html>